body {
  margin: 0 5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e1e3e2;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table{
  width: 100%;
  text-align: left;
}

th{
  font-weight: bold;
  font-style: italic;
  background-color: whitesmoke;
}

.name{
  font-weight: bold;
}

.small{
  font-size: small;
  color: grey
}

.title{
  display: flex;
  flex: 1 1 100%;
  /* margin: 20px ; */
  padding: 0 10px 0 10px;

}
/* #outlined-search{
  height: 15px
} */

@media (max-width:500px ) {
    .Btn{
      width: 100px;
      font-size: 10px;
      background-color: black;
    }
}
